@import url(header.css);
@import url(menu.css);
@import url(form.css);
@import url(modal.css);

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    color: white;
    box-sizing: border-box;
    /*background-color: #a1a13366;*/
    background-color: black;
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

.topbar {
    height: 40px;
    font-size: 14px;
    width: 80%;
    transition: all 0.5s;
    margin: auto 10%;
    transform: translateY(55px);
    z-index: 2;
}

.topbar-container {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    place-items: center;
    gap: 2%;
    font-style: normal;
    color: #d9ba85;
}

.topbar i span {
    padding-left: 5px;
    color: #fff;
    font-style: normal;
}

#home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../img/hero-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
}

.tk-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.tk-grid {
    display: grid;
    gap: 1.5rem;
}

.contenedor {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.general_container {
    height: calc(100vh - 1rem);
    align-content: center;
}

.home_data {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.home_title {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    color: #eedfdf;
    margin-bottom: .5rem;
}

.home_subtitle {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 2rem;
}

#home .contenedor span {
    color: #ffa100;
}

button {
    cursor: pointer;
}

.button {
    display: inline-block;
    border: solid 2px #cda45e;
    padding: 12px 25px;
    color: white;
    border-radius: 50px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s;
}

.button:hover {
    background-color: #e78e00;
}

#about {
    width: 100%;
    height: 100vh;
}

.about_data {
    min-height: 500px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.about_title {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    margin-bottom: 0.5rem;           
}

.about_subtitle {
    letter-spacing: 1.1px;
    text-align: justify;
}

.about_subtitle h2 {
    font-family: none;
}

.about1, .about2 {
    width: 49%;
    /*color: #3c2e2e;*/
    color: #d1d1d1;
}

.about2 {
    text-align: center;
}

.about-image {
    text-align: center;
    height: 400px;
    width: 598px;
}

#reservation {
    width: 100%;
    height: 625px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.8)), url(../img/form.jpg);
    background-attachment: fixed;
    background-color: black;
    background-position: center center;
    background-size: cover;
    padding: 0;
}

.padding {
    padding-top: 58px;
}

.cont-menu {
    height: 1900px;
    align-content: start;
    padding-top: 60px;
}

#reservation .contenedor p, #promotion .contenedor p {
    /*color: #b4b4b4;*/
    color: #919191;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.menu_title {
    font-family: "Playfair Display", serif;
    font-size: 54px;
    margin: 2px 0 2.5rem 0;
    color: #cda45e;
}

#reservation .list-order {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-items: center;
}



#reservation .list-order p {
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px 10px 12px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    color: #cda45e;
    margin-bottom: 10px;
    transition: all ease-in-out 0.3s;
    border-radius: 50px;
    font-family: "Playfair Display", serif;
}

.container-food {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-guarnicion {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-bebidas {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#promotion {
    width: 100%;
}

.promotion_data {
    display: grid;
    row-gap: 3rem;
    padding-bottom: 40px;
}

.imgs-promotion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.imgs-promotion img {
    height: 252px;
    width: 468px;
}

.food-item {
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item1 {
    display: flex;
    align-items: center;
    gap: 5px;
}

#contact {
    background: white;
    
}

.contact_data {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title {
    color: #212529;
    font-size: 30px;
}

hr.divider {
    height: 0.19rem;
    max-width: 3.25rem;
    width: 52px;
    border: none;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
}

.contact-subtitle {
    color: #6c757d;
    font-size: 16px;
}

footer {
    background-color: #eaeeee;
    height: 5rem;
    text-align: center;
}

footer p {
    color: black;
    margin: 0;
    background-color: #eaeeee;
    height: 5rem;
    padding-top: 35px;
}